.slider {
    position: relative;
    overflow: hidden;
}

.slider-wrapper {
    white-space: nowrap;
    transition-duration: 0.4s;
}

.slide {
    width: 100%;
    display: inline-block;
    white-space: normal;
}
